[submodule "application/core-application/src/main/resources/security"]
	path = application/core-application/src/main/resources/security
	url = https://github.com/Image-Chronicle/Backend-Environment
    branch = core
[submodule "application/image-application/src/main/resources/security"]
	path = application/image-application/src/main/resources/security
	url = https://github.com/Image-Chronicle/Backend-Environment
    branch = image